<ion-header>
  <ion-toolbar>
    <ion-title size="large" class="ion-text-center">Tableau de bord</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card href="javascript:void(0)" color="warning">
    <ion-card-content>
      <ion-title class="ion-text-center">15000 €</ion-title>
      <ion-card-subtitle>Date</ion-card-subtitle>
    </ion-card-content>
    <ion-footer>
      <ion-row>
        <ion-col size="3">
          <ion-button fill="clear" expand="full" color="light">1 jour</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" expand="full" color="light">3 mois</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" expand="full" color="light">6 mois</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" expand="full" color="light">1 an</ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>

  <div class="ion-padding-vertical"></div>

  <ion-card-title class="ion-padding-horizontal">Activités récentes</ion-card-title>
  <ion-card href="javascript:void(0)" (click)="presentModalActivity()">
    <ion-card-content>
      <ion-card-subtitle color="warning">Voir les statistiques de l'application</ion-card-subtitle>
      Mes données statistiques des visites, des fichiers ect...
    </ion-card-content>
  </ion-card>

  <ion-card href="javascript:void(0)">
    <ion-card-content>
      <ion-card-subtitle color="warning">Listes des tâches</ion-card-subtitle>
      Ma todo list
    </ion-card-content>
  </ion-card>

  <div class="ion-padding-vertical"></div>

  <ion-card-title class="ion-padding-horizontal">Contacts</ion-card-title>
  <ion-card href="javascript:void(0)" color="primary">
    <ion-card-content>
      <ion-card-subtitle color="primary">Voir tout mes contacts</ion-card-subtitle>
      Tout les entreprises qui m'ont contactés ou avec lesquelles j'ai travaillé.
    </ion-card-content>
  </ion-card>
  <ion-card href="javascript:void(0)" color="primary" (click)="presentModalContact()">
    <ion-card-content>
      <ion-card-subtitle color="primary">Ajouter un contact</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding-vertical"></div>
  <ion-card-title class="ion-padding-horizontal">Boite de reception</ion-card-title>
  <ion-card href="javascript:void(0)" color="secondary">
    <ion-card-content>
      <ion-card-subtitle color="black">Messages reçus</ion-card-subtitle>
      Total messages: 15
      Messages non lu: 1
    </ion-card-content>
  </ion-card>
  <ion-card href="javascript:void(0)" color="secondary">
    <ion-card-content>
      <ion-card-subtitle color="black">Ecrire un message</ion-card-subtitle>
      Les messages seront des emails. Il faudra l'email du destinataire.
    </ion-card-content>
  </ion-card>

  <div class="ion-padding-vertical"></div>
  <ion-card-title class="ion-padding-horizontal" >Echéances</ion-card-title>
  <ion-card color="danger">
    <ion-card-content>
      Un calendrier des échances Ursaff, avec pré calcul effectué
    </ion-card-content>
  </ion-card>

  <div class="ion-padding-vertical"></div>
  <ion-card-title class="ion-padding-horizontal">Documents</ion-card-title>
  <ion-card>
    <ion-item href="javascript:void(0)" class="activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Voir mes factures</ion-label>
    </ion-item>

    <ion-item href="javascript:void(0)">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Créer une facture</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
